
.cont_txt--desencriptado{
    width: 100%;
}
.cont_textarea textarea{
    width: 80%;
}

.cont_imgPersonaje{
    display: none;
}

.cont__buttons--alert {
    margin: 0 auto;
}

.cont_txt--encriptado{
    width: 98%;
    padding: 15px;
    margin: 0 auto;
}